<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Marcas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center>
    <h1>Marca de produtos</h1>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-list>
          <ion-item-sliding *ngFor="let marca of marcas" #slidingItem>
            <!-- componente slidingItem -->
            <ion-item>
              {{marca.nome}}
            </ion-item>
              <!-- componente slidingItem fim -->
              <ion-item-options>
                <ion-item-option side="and" color="warning" (click)="editarMarca(marca.id, slidingItem)">
                  <ion-icon name="create" slot="icon-only"></ion-icon>
                </ion-item-option>
                <ion-item-option side="and" color="danger" (click)="deletarMarca(marca.id, slidingItem)">
                  <ion-icon name="trash" slot="icon-only"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/nova-marca">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
