<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pizzaria/tabs/funcionario"></ion-back-button>
    </ion-buttons>
    <ion-title>novo produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form">
        <ion-grid>
          <ion-row>
            <ion-col size-md="6" offset-sm="3">
              <ion-item>
                <ion-label position="floating">Nome</ion-label>
                <ion-input type="text" formControlName="nome" clearInput>
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="6" offset-sm="3">
              <ion-item>
                <ion-label position="floating">categoria</ion-label>
                <ion-select formControlName="categoria">
                  <ion-select-option *ngFor="let categoria of categorias">{{categoria.nome}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="6" offset-sm="3">
              <ion-item>
                <ion-label position="floating">marca</ion-label>
                <ion-select formControlName="marca">
                  <ion-select-option *ngFor="let marca of marcas">{{marca.nome}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="6" offset-sm="3">
              <ion-item>
                <ion-label position="floating">Preço</ion-label>
                <ion-input type="number" clearInput formControlName="preco" clearInput>
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="6" offset-sm="3" text-center>
              <ion-button  (click)="takePicture()" fill="clear">
                <ion-icon name="camera"></ion-icon>
              </ion-button>
              <ion-img [src]="photo" *ngIf="photo"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="6" offset-sm="3">
              <ion-button 
                (click)="onNovaPizza()" 
                color="primary"
                expand="block"
                size="default"
                [disabled]="!form.valid"
              >
                <ion-icon slot="start" name="checkmark"></ion-icon>
                salvar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </form>
</ion-content>