<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center>
    <h1>App Produtos</h1>
    <h2>Bem Vindo</h2>
  </div>

  <ion-fab vertical="center" horizontal="center" slot="fixed">
      <ion-fab-button>
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button routerLink="/produto">
          <ion-icon name="cart"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
        <ion-fab-button routerLink="/categoria">
          <ion-icon name="pricetags"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="end">
        <ion-fab-button routerLink="/marca">
          <ion-icon name="bookmark"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    
</ion-content>
